//The main scss file for fepe_bicycle.

//IMPORTANT:
// Any resources from this project should be referenced using SRC_PATH preprocessor var
// Ex: background-image: url(/* @echo SRC_PATH*//img/sample.jpg)

#fepe_bicycle_container {
  .registrationForm {
    .heading {
      margin-bottom: 5px;

      h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px 0;
      }
    }

    .has-feedback {
      &.has-error,
      &.has-success {
        .intl-tel-input {
          .flag-container {
            right: 23px;
          }
        }
      }
    }
  }

  .thankYouPage {
    .table {
      th {
        background-color: #eeeeee;
        color: #000000;
      }
    }
  }
}
